# Maven
target/
pom.xml.tag
pom.xml.versionsBackup
pom.xml.next
release.properties
release-pom.xml

# Eclipse
.classpath
.project
.settings/
.metadata
*.launch
.apt_generated/
.factorypath

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Compiled class files
*.class

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Specific to Spring Boot
/src/main/resources/application.properties
/src/main/resources/application*.yml

# For the IDE's local history
.history

# AIE
.aiexclude
